<div
  id="modalMagzine"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{
            !this.magazineSvc.selectedMagazine._id
              ? 'Nueva Revista'
              : 'Editar Revista'
          }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          name="magazineForm"
          class="form-magazine"
          #formMagazine="ngForm"
          (ngSubmit)="onSaveMagazine(formMagazine)"
        >
          <input
            type="hidden"
            id="_id"
            name="_id"
            class="form-control"
            [(ngModel)]="this.magazineSvc.selectedMagazine._id"
            required
          />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Autor</label>
              <input
                type="text"
                id="author"
                name="author"
                class="form-control"
                placeholder="Autor"
                [(ngModel)]="this.magazineSvc.selectedMagazine.author"
                ng-model="author"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">Titulo</label>
              <input
                type="text"
                id="title"
                name="title"
                class="form-control"
                placeholder="Titulo"
                [(ngModel)]="this.magazineSvc.selectedMagazine.title"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="">Edicion</label>
            <input
              type="text"
              id="edicion"
              name="edicion"
              class="form-control"
              placeholder="Edicion"
              [(ngModel)]="this.magazineSvc.selectedMagazine.edicion"
              required
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Frecuencia</label>
              <select
                name="frequencyActs"
                id="frequencyActs"
                class="form-control"
                [(ngModel)]="this.magazineSvc.selectedMagazine.frequencyActs"
              >
                <option value="" disabled selected>--Seleccionar--</option>
                <option value="Diariao">Diariao</option>
                <option value="Semanal">Semanal</option>
                <option value="Mensual">Mensual</option>
                <option value="Trimestral">Trimestral</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="">Ejemplares</label>
              <input
                type="number"
                id="specimens"
                name="specimens"
                class="form-control"
                placeholder="Ejemplares"
                [(ngModel)]="this.magazineSvc.selectedMagazine.specimens"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Temas</label>
              <input
                type="text"
                id="topics"
                name="topics"
                class="form-control"
                placeholder="Temas"
                [(ngModel)]="this.magazineSvc.selectedMagazine.topics"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">Palabras Claves</label>
              <input
                type="text"
                id="keywords"
                name="keywords"
                class="form-control"
                placeholder="Palabras Claves"
                [(ngModel)]="this.magazineSvc.selectedMagazine.keywords"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="">Descripción</label>
            <textarea
              name="description"
              id="description"
              class="form-control"
              cols="50"
              rows="4"
              [(ngModel)]="this.magazineSvc.selectedMagazine.description"
              required
            ></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Copias</label>
              <input
                type="number"
                id="copies"
                name="copies"
                class="form-control"
                placeholder="Copias"
                [(ngModel)]="this.magazineSvc.selectedMagazine.copies"
                required
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">Disponibles</label>
              <input
                type="number"
                id="available"
                name="available"
                class="form-control"
                placeholder="Disponibles"
                [(ngModel)]="this.magazineSvc.selectedMagazine.available"
                required
              />
            </div>
          </div>
          <button
            [disabled]="
              this.magazineSvc.selectedMagazine.author != null &&
              this.magazineSvc.selectedMagazine.title != null &&
              this.magazineSvc.selectedMagazine.edicion != null &&
              this.magazineSvc.selectedMagazine.keywords != [null] &&
              this.magazineSvc.selectedMagazine.topics != [null] &&
              this.magazineSvc.selectedMagazine.copies <= 0
            "
            type="submit"
            class="btn btn-primary float-right"
          >
            Guardar Revista
          </button>
          <button
            type="button"
            mat-raised-button
            color="warn"
            class="btn float-left"
            data-dismiss="modal"
            aria-label="Close"
          >
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- View  -->

<div
  id="modalMagzineView"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{
            !this.magazineSvc.selectedMagazine._id
              ? 'Nueva Revista'
              : 'Editar Revista'
          }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          id="_idV"
          name="_id"
          class="form-control"
          [(ngModel)]="this.magazineSvc.selectedMagazine._id"
          required
        />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Autor</label>
            <input
              type="text"
              id="authorV"
              name="author"
              class="form-control"
              placeholder="Autor"
              [(ngModel)]="this.magazineSvc.selectedMagazine.author"
              ng-model="author"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Titulo</label>
            <input
              type="text"
              id="titleV"
              name="title"
              class="form-control"
              placeholder="Titulo"
              [(ngModel)]="this.magazineSvc.selectedMagazine.title"
              disabled
            />
          </div>
        </div>
        <div class="form-group">
          <label for="">Edicion</label>
          <input
            type="text"
            id="edicionV"
            name="edicion"
            class="form-control"
            placeholder="Edicion"
            [(ngModel)]="this.magazineSvc.selectedMagazine.edicion"
            disabled
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Frecuencia</label>
            <input
              type="text"
              id="frequencyActsV"
              name="frequencyActs"
              class="form-control"
              placeholder="Frecuencia"
              [(ngModel)]="this.magazineSvc.selectedMagazine.frequencyActs"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Ejemplares</label>
            <input
              type="number"
              id="specimensV"
              name="specimens"
              class="form-control"
              placeholder="Ejemplares"
              [(ngModel)]="this.magazineSvc.selectedMagazine.specimens"
              disabled
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Temas</label>
            <input
              type="text"
              id="topicsV"
              name="topics"
              class="form-control"
              placeholder="Temas"
              [(ngModel)]="this.magazineSvc.selectedMagazine.topics"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Palabras Claves</label>
            <input
              type="text"
              id="keywordsV"
              name="keywords"
              class="form-control"
              placeholder="Palabras Claves"
              [(ngModel)]="this.magazineSvc.selectedMagazine.keywords"
              disabled
            />
          </div>
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <textarea
            name="description"
            id="descriptionV"
            class="form-control"
            cols="50"
            rows="4"
            [(ngModel)]="this.magazineSvc.selectedMagazine.description"
            disabled
          ></textarea>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Copias</label>
            <input
              type="number"
              id="copiesV"
              name="copies"
              class="form-control"
              placeholder="Copias"
              [(ngModel)]="this.magazineSvc.selectedMagazine.copies"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Disponibles</label>
            <input
              type="number"
              id="availableV"
              name="available"
              class="form-control"
              placeholder="Disponibles"
              [(ngModel)]="this.magazineSvc.selectedMagazine.available"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->

<div
  id="modalMagzineDelete"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{
            !this.magazineSvc.selectedMagazine._id
              ? 'Nueva Revista'
              : 'Editar Revista'
          }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          id="_idV"
          name="_id"
          class="form-control"
          [(ngModel)]="this.magazineSvc.selectedMagazine._id"
          required
        />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Autor</label>
            <input
              type="text"
              id="authorV"
              name="author"
              class="form-control"
              placeholder="Autor"
              [(ngModel)]="this.magazineSvc.selectedMagazine.author"
              ng-model="author"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Titulo</label>
            <input
              type="text"
              id="titleV"
              name="title"
              class="form-control"
              placeholder="Titulo"
              [(ngModel)]="this.magazineSvc.selectedMagazine.title"
              disabled
            />
          </div>
        </div>
        <div class="form-group">
          <label for="">Edicion</label>
          <input
            type="text"
            id="edicionV"
            name="edicion"
            class="form-control"
            placeholder="Edicion"
            [(ngModel)]="this.magazineSvc.selectedMagazine.edicion"
            disabled
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Frecuencia</label>
            <input
              type="text"
              id="frequencyActsV"
              name="frequencyActs"
              class="form-control"
              placeholder="Frecuencia"
              [(ngModel)]="this.magazineSvc.selectedMagazine.frequencyActs"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Ejemplares</label>
            <input
              type="number"
              id="specimensV"
              name="specimens"
              class="form-control"
              placeholder="Ejemplares"
              [(ngModel)]="this.magazineSvc.selectedMagazine.specimens"
              disabled
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Temas</label>
            <input
              type="text"
              id="topicsV"
              name="topics"
              class="form-control"
              placeholder="Temas"
              [(ngModel)]="this.magazineSvc.selectedMagazine.topics"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Palabras Claves</label>
            <input
              type="text"
              id="keywordsV"
              name="keywords"
              class="form-control"
              placeholder="Palabras Claves"
              [(ngModel)]="this.magazineSvc.selectedMagazine.keywords"
              disabled
            />
          </div>
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <textarea
            name="description"
            id="descriptionV"
            class="form-control"
            cols="50"
            rows="4"
            [(ngModel)]="this.magazineSvc.selectedMagazine.description"
            disabled
          ></textarea>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Copias</label>
            <input
              type="number"
              id="copiesV"
              name="copies"
              class="form-control"
              placeholder="Copias"
              [(ngModel)]="this.magazineSvc.selectedMagazine.copies"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Disponibles</label>
            <input
              type="number"
              id="availableV"
              name="available"
              class="form-control"
              placeholder="Disponibles"
              [(ngModel)]="this.magazineSvc.selectedMagazine.available"
              disabled
            />
          </div>
        </div>
        <button
          (click)="onDeleteBook(this.magazineSvc.selectedMagazine._id)"
          type="submit"
          class="btn btn-primary float-right"
        >
          Eliminar
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          class="btn float-left"
          data-dismiss="modal"
          aria-label="Close"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
