<mdb-carousel
  style="height: fit-content"
  [isControls]="true"
  class="carousel slide carousel-fade"
  [animation]="'fade'"
>
  <mdb-carousel-item>
    <div class="view w-10 item">
      <img
        class="img-fluid d-block w-100"
        src="../../../assets/342428-PA9Q21-893_1 (4).jpg"
        alt="First slide"
      />
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h5 class="h5-responsive font-italic">
        "La capacidad y gusto por la lectura <br />
        da acceso a lo que ha sido <br />
        descubierto por otros"
      </h5>
      <p class="font-weight-light">Abrahan Lincoln</p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view item">
      <img
        class="img-fluid d-block"
        src="../../../assets/test-libros0.jpg"
        alt="Second slide"
      />
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h5 class="h5-responsive font-italic">
        "El hombre que no lee, <br />
        no tiene ninguna ventaja <br />
        sobre él que no sabe leer"
      </h5>
      <p class="font-weight-light">Mark Twain</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view item">
      <img
        class="img-fluid d-block"
        src="../../../assets/libros.jpg"
        alt="Third slide"
      />
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h5 class="h5-responsive font-italic">
        "No dejes para <br />
        mañana lo que <br />
        puedes hacer hoy"
      </h5>
      <p class="font-weight-light">____</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
