<div class="container">
  <div class="form-row">
    <div class="form-group col-md-4">
      <div class="col-md-12 mr-auto">
        <div class="md-form">
          <input
            type="text"
            name="filter"
            class="form-control"
            id="search"
            mdbInput
            [(ngModel)]="filterPost"
          />
          <label for="search">Buscar (Titulo o Autor)</label>
        </div>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="Prestar Libro">
        <section id="books" class="mt-5">
          <div class="container">
            <div class="row">
              <div
                class="col-xs-12 col-sm-6 col-md-4 mb-4"
                *ngFor="let book of books | filter: filterPost; index as i"
              >
                <div class="card_book">
                  <div class="card">
                    <div class="card-body text-center">
                      <h3>{{ book.title }}</h3>

                      <h5 class="card-title font-italic font-weight-light">
                        <u>({{ book.author }})</u>
                      </h5>
                      <p class="card-text">
                        {{ book.description | truncateText: 15 }}
                      </p>
                      <div class="container-precio-idioma">
                        <p class="badge badge-info"></p>
                        <p class="badge badge-info">
                          Disponibles:
                          {{ book.available }}
                        </p>
                      </div>

                      <a
                        class="btn btn-block btn-primary"
                        target="_blank"
                        (click)="onLendBook(book._id)"
                        >Pedir</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Devolver Libro">
        <section id="books" class="mt-5" *ngIf="booksLend != null; else nada">
          <div class="container">
            <div class="row">
              <div
                class="col-xs-12 col-sm-6 col-md-4 mb-4"
                *ngFor="let book of booksLend | filter: filterPost; index as i"
              >
                <div class="card_book">
                  <div class="card">
                    <div class="card-body text-center">
                      <h3>{{ book.title }}</h3>

                      <h5 class="card-title font-italic font-weight-light">
                        <u>({{ book.author }})</u>
                      </h5>
                      <p class="card-text">
                        {{ book.description | truncateText: 15 }}
                      </p>
                      <div class="container-precio-idioma">
                        <p class="badge badge-info"></p>
                        <p class="badge badge-info"></p>
                      </div>

                      <a
                        class="btn btn-block btn-danger"
                        target="_blank"
                        (click)="onReturnBook(book._id)"
                        >Devolver</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Buscar">
        <table mdbTable class="z-depth-1 mt-5">
          <thead>
            <tr>
              <th class="no" scope="col">No.</th>
              <th scope="col">Autor</th>
              <th scope="col">Título</th>
              <th scope="col">Edicion</th>
              <th scope="col">Palabras Claves</th>
              <th scope="col">Descripción</th>
              <th scope="col">Temas</th>
              <th class="copies" scope="col">Copias</th>
              <th class="avilable" scope="col">Disponibles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books | filter: filterPost; index as i">
              <th class="no" scope="row">{{ i + 1 }}</th>
              <td>{{ book.author }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.edicion }}</td>
              <td>{{ book.keywords }}</td>
              <td>{{ book.description | truncateText: 10 }}</td>
              <td>{{ book.topics }}</td>
              <td class="copies">{{ book.copies }}</td>
              <td class="avilable">{{ book.available }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #nada>No hay nada que mostrar</ng-template>
