<!-- New and Update -->

<div
  id="modalUser"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{
            !this.authSvc.userSelected._id ? 'Nuevo Usuario' : 'Editar Usuario'
          }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          name="formUser"
          class="form-user"
          #formUser="ngForm"
          (ngSubmit)="onSaveUser(formUser)"
        >
          <input
            type="hidden"
            id="_id"
            name="_id"
            class="form-control"
            [(ngModel)]="this.authSvc.userSelected._id"
            required
          />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Nombres</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Nombres"
                [(ngModel)]="this.authSvc.userSelected.name"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">Apellidos</label>
              <input
                type="text"
                id="lastName"
                name="lastName"
                class="form-control"
                placeholder="Apellidos"
                [(ngModel)]="this.authSvc.userSelected.lastName"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Rol</label>
              <select
                [(ngModel)]="opcionSeleccionado"
                name="role"
                id="role"
                class="form-control"
                [(ngModel)]="this.authSvc.userSelected.role"
                (change)="capturar()"
              >
                <option value="" disabled selected>--Seleccionar--</option>
                <option value="estudiante">Estudiante</option>
                <option value="catedratico">Catedratico</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="">Contraseña</label>
              <input
                type="contraseña"
                id="password"
                name="password"
                class="form-control"
                placeholder="Contraseña"
                [(ngModel)]="this.authSvc.userSelected.password"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">Carnet</label>
              <input
                mdInput
                #carnet
                [disabled]="opcionSeleccionado != 'estudiante'"
                type="text"
                id="canert"
                name="carnet"
                class="form-control"
                placeholder="Carnet"
                [(ngModel)]="this.authSvc.userSelected.carnet"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="">DPI</label>
              <input
                [disabled]="opcionSeleccionado != 'catedratico'"
                type="text"
                id="dpi"
                name="dpi"
                class="form-control"
                placeholder="DPI"
                [(ngModel)]="this.authSvc.userSelected.dpi"
                required
              />
            </div>
          </div>

          <div class="form-group"></div>
          <button
            [disabled]="
              (this.authSvc.userSelected.dpi != null ||
                this.authSvc.userSelected.carnet != null) &&
              this.authSvc.userSelected.name != null &&
              this.authSvc.userSelected.lastName != null &&
              this.authSvc.userSelected.role != null &&
              this.authSvc.userSelected.password != null
            "
            type="submit"
            class="btn btn-primary float-right"
          >
            Guardar Usuario
          </button>

          <button
            type="button"
            mat-raised-button
            color="warn"
            class="btn float-left"
            data-dismiss="modal"
            aria-label="Close"
          >
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- View -->

<div
  id="modalUserView"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          id="_idV"
          name="_id"
          class="form-control"
          [(ngModel)]="this.authSvc.userSelected._id"
          required
          disabled
        />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Nombres</label>
            <input
              type="text"
              id="nameV"
              name="name"
              class="form-control"
              placeholder="Nombres"
              [(ngModel)]="this.authSvc.userSelected.name"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Apellidos</label>
            <input
              type="text"
              id="lastNameV"
              name="lastName"
              class="form-control"
              placeholder="Apellidos"
              [(ngModel)]="this.authSvc.userSelected.lastName"
              required
              disabled
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Rol</label>
            <select
              [(ngModel)]="opcionSeleccionado"
              name="role"
              id="role"
              class="form-control"
              [(ngModel)]="this.authSvc.userSelected.role"
              (change)="capturar()"
              disabled
            >
              <option value="" disabled selected>--Seleccionar--</option>
              <option value="estudiante">Estudiante</option>
              <option value="catedratico">Catedratico</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="">Contraseña</label>
            <input
              type="contraseña"
              id="passwordV"
              name="password"
              class="form-control"
              placeholder="Contraseña"
              [(ngModel)]="this.authSvc.userSelected.password"
              required
              disabled
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Carnet</label>
            <input
              mdInput
              #carnet
              [disabled]="opcionSeleccionado != 'estudiante'"
              type="text"
              id="canertV"
              name="carnet"
              class="form-control"
              placeholder="Carnet"
              [(ngModel)]="this.authSvc.userSelected.carnet"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">DPI</label>
            <input
              [disabled]="opcionSeleccionado != 'catedratico'"
              type="text"
              id="dpiV"
              name="dpi"
              class="form-control"
              placeholder="DPI"
              [(ngModel)]="this.authSvc.userSelected.dpi"
              required
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->
<div
  id="modalUserDelete"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          ¿Está seguro de eliminar este Usuario?
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          id="_idD"
          name="_id"
          class="form-control"
          [(ngModel)]="this.authSvc.userSelected._id"
          required
          disabled
        />
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Nombres</label>
            <input
              type="text"
              id="nameD"
              name="name"
              class="form-control"
              placeholder="Nombres"
              [(ngModel)]="this.authSvc.userSelected.name"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Apellidos</label>
            <input
              type="text"
              id="lastNameD"
              name="lastName"
              class="form-control"
              placeholder="Apellidos"
              [(ngModel)]="this.authSvc.userSelected.lastName"
              required
              disabled
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Rol</label>
            <select
              [(ngModel)]="opcionSeleccionado"
              name="role"
              id="roleD"
              class="form-control"
              [(ngModel)]="this.authSvc.userSelected.role"
              (change)="capturar()"
              disabled
            >
              <option value="" disabled selected>--Seleccionar--</option>
              <option value="estudiante">Estudiante</option>
              <option value="catedratico">Catedratico</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="">Contraseña</label>
            <input
              type="contraseña"
              id="passwordD"
              name="password"
              class="form-control"
              placeholder="Contraseña"
              [(ngModel)]="this.authSvc.userSelected.password"
              required
              disabled
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Carnet</label>
            <input
              mdInput
              #carnet
              [disabled]="opcionSeleccionado != 'estudiante'"
              type="text"
              id="canertD"
              name="carnet"
              class="form-control"
              placeholder="Carnet"
              [(ngModel)]="this.authSvc.userSelected.carnet"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">DPI</label>
            <input
              [disabled]="opcionSeleccionado != 'catedratico'"
              type="text"
              id="dpiD"
              name="dpi"
              class="form-control"
              placeholder="DPI"
              [(ngModel)]="this.authSvc.userSelected.dpi"
              required
              disabled
            />
          </div>
        </div>
        <button
          (click)="onDeleteUser(this.authSvc.userSelected._id)"
          type="submit"
          class="btn btn-primary float-right"
        >
          Eliminar
        </button>

        <button
          type="button"
          mat-raised-button
          color="warn"
          class="btn float-left"
          data-dismiss="modal"
          aria-label="Close"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
