/* You can add global styles to this file, and also import other style files */
* {
  /* overflow: hidden */
}
html,
body {
  height: 100%;
  background-color: radial-gradient(center center, circle, black, #1162ac);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.no {
  width: 5px;
}

.author {
  width: 10px;
}

.description {
  width: 10px;
}
